.ant-menu-item-selected > .ant-menu-title-content{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.ant-menu-item::after{
    border-bottom: none !important;
}

.ant-menu-item-selected::after{
    border-bottom: none !important;
}

.ant-menu-item-active:hover::after{
    border-bottom: none !important;
}

.ant-menu-item-active:active::after{
    border-bottom: none !important;
}


.ant-form-item {
    margin-bottom: 0px !important;
    /*height: 40px;*/
}

.ant-input::placeholder,
.ant-picker-input > input::placeholder {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.25px;
    font-family: 'Roboto', sans-serif;
}

.ant-row {
    height: 40px;
    margin-bottom: 8px;
}

.ant-col {
    /*height: 40px;*/
    /*margin-bottom: 8px;*/
}

.ant-col-24 {
    padding: 0 !important;
}

.ant-col-24 > label {
    height: 28px !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: var(--gray-black)
}

.ant-radio-group {
    width: 100%;
}

.ant-radio-button{
    border-radius: 8px;
}

.ant-picker-ok > button {
    /*color: var(--primary)*/
}

.ant-picker-ok > button:hover {
    /*color: var(--button-primary-hover) !important;*/
}

.ant-picker-ok > button:active {
    /*background-color: var(--primary) !important;*/
    color: #FFFFFF !important;
}

.ant-picker-ok > button:disabled {
    border: none;
}

.ant-picker-now-btn {
    /*color: var(--primary)*/
}

.ant-picker-now-btn:hover {
    /*color: var(--button-primary-hover) !important;*/
}

.ant-picker-now-btn:active {
    /*color: var(--button-primary-select) !important;*/
}

.ant-picker-time-panel-cell-selected > .ant-picker-time-panel-cell-inner {
    /*background-color: var(--primary) !important;*/
    color: #FFFFFF !important;
}

/*.ant-col{*/
/*    height: 40px;*/
/*}*/


.ant-row {
    /*align-items: center !important;*/
}

/* центрирование инпута по центру */


.ant-picker-focused {
    /*border: 2px solid var(--button-primary-select) !important;*/
    box-shadow: 0 0 0 2px rgba(71, 142, 208, 0.25) !important;
}

.ant-select-selector:focus-within {
    /*border: 2px solid var(--button-primary-select) !important;*/
    box-shadow: 0 0 0 2px rgba(71, 142, 208, 0.25) !important;
}

.ant-pagination > li {
    /*border-color: var(--button-primary-select) !important;*/
}

.ant-pagination > li > a {
    /*color: var(--button-primary-select) !important;*/
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner {
    /*border-color: var(--primary) !important;*/
}

.ant-checkbox-wrapper-checked .ant-checkbox-inner {
    /*border-color: var(--primary) !important;*/
    /*background-color: var(--primary) !important;*/
}

.ant-checkbox-checked .ant-checkbox-inner {
    /*border-color: var(--primary) !important;*/
    /*background-color: var(--primary) !important;*/
}

.ant-checkbox-inner:after {
    /*background-color: var(--primary) !important;*/
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
    /*background-color: var(--primary) !important;*/
}

.ant-table-row-selected > .ant-table-cell {
    /*background-color: var(--table-select) !important;*/
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    /*border-color: var(--primary) !important;*/
}

.ant-picker-dropdown .ant-picker-header-view > button:hover {
    /*color: var(--primary) !important;*/
}

.ant-picker-outlined:hover {
    /*border-color: var(--primary);*/
}

.ant-table {
    scrollbar-color: unset !important;
}

.ant-select-item-option-active:hover {
    /*background-color: var(--button-secondary-hover) !important;*/
}

.ant-select-item-option-active:active {
    /*background-color: var(--button-secondary-select) !important;*/
}

.ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: #fff;
}

.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    /*background-color: var(--button-secondary-select);*/
}


/*.ant-drawer-body::-webkit-scrollbar {*/
/*    width: 8px; !* Ширина скроллбара *!*/
/*    height: 8px; !* Высота скроллбара *!*/
/*    z-index: 10;*/
/*}*/

/*.ant-drawer-body::-webkit-scrollbar-track {*/
/*    background: var(--gray-03); !* Цвет фона трека *!*/
/*    border-radius: 4px; !* Скругление углов трека *!*/
/*}*/

/*.ant-drawer-body::-webkit-scrollbar-thumb {*/
/*    background-color: var(--primary); !* Цвет ползунка *!*/
/*    border-radius: 4px; !* Скругление углов ползунка *!*/
/*    !*border: 3px solid var(--gray-05); !* Обводка ползунка *!*!*/
/*}*/


.ant-modal-content {
    min-height: 192px;
    display: flex;
    flex-direction: column;
}

.ant-modal-body {
    flex: 1; /* Занимает всё доступное пространство */
    overflow-y: auto; /* Внутренний скролл для контента */
    padding-right: 8px !important; /* Чтобы скролл не перекрывал контент */
    min-height: 96px;
    max-height: 840px;
    overflow-x: hidden;
}

.ant-modal-body::-webkit-scrollbar {
    width: 8px; /* Ширина скроллбара */
    height: 8px; /* Высота скроллбара */
}

.ant-modal-body::-webkit-scrollbar-track {
    background: var(--gray-03); /* Цвет фона трека */
    border-radius: 4px; /* Скругление углов трека */
}

.ant-modal-body::-webkit-scrollbar-thumb {
    background-color: var(--primary); /* Цвет ползунка */
    border-radius: 4px; /* Скругление углов ползунка */
    /*border: 3px solid var(--gray-05); !* Обводка ползунка *!*/
}

.ant-modal-wrap::-webkit-scrollbar {
    width: 8px; /* Ширина скроллбара */
    height: 8px; /* Высота скроллбара */
}

.ant-modal-wrap::-webkit-scrollbar-track {
    background: var(--gray-03); /* Цвет фона трека */
    border-radius: 4px; /* Скругление углов трека */
}

.ant-modal-wrap::-webkit-scrollbar-thumb {
    background-color: var(--primary); /* Цвет ползунка */
    border-radius: 4px; /* Скругление углов ползунка */
    /*border: 3px solid var(--gray-05); !* Обводка ползунка *!*/
}

.ant-dropdown-menu::-webkit-scrollbar {
    width: 8px; /* Ширина скроллбара */
    height: 8px; /* Высота скроллбара */
}

.ant-dropdown-menu::-webkit-scrollbar-track {
    background: var(--gray-03); /* Цвет фона трека */
    border-radius: 4px; /* Скругление углов трека */
}

.ant-dropdown-menu::-webkit-scrollbar-thumb {
    background-color: var(--primary); /* Цвет ползунка */
    border-radius: 4px; /* Скругление углов ползунка */
    /*border: 3px solid var(--gray-05); !* Обводка ползунка *!*/
}

.ant-select-selector {
    background: #fff;
}

.ant-dropdown-menu {
    padding: 12px 24px !important;
    background-color: var(--gray-white) !important;
    /*box-shadow: var(--shadow-base) !important;*/
}

.ant-dropdown{
    min-width: 240px !important;
    inset: 64px 16px auto auto !important;
}

.ant-row {
    min-height: 40px;
    max-height: 131px;
    height: auto;
}

.ant-modal-footer {
    margin-top: 0 !important;
}

.ant-modal-close {
    display: none;
}

.ant-input-outlined {
    border-color: var(--gray-03);
}

.ant-switch-handle {
    width: 24px !important;
}

.ant-switch.ant-switch-checked .ant-switch-handle {
    inset-inline-start: calc(100% - 26px);
}

/*.ant-menu {*/
/*    height: auto !important;*/
/*    !*background-color: var(--button-menu-2);*!*/
/*}*/

/*.ant-menu-sub {*/
/*    background-color: var(--gray-04) !important;*/
/*}*/

/*.ant-menu-item.ant-menu-item-selected {*/
/*    !*background-color: var(--button-menu-select-2) !important;*!*/
/*    !*color: var(--button-primary-select) !important;*!*/
/*}*/

/*.ant-menu-submenu-selected > .ant-menu-submenu-title {*/
/*    color: var(--primary-dark) !important;*/
/*}*/

/*.ant-menu-item {*/
/*    color: var(--gray-01) !important;*/
/*}*/

/*.ant-menu-submenu-title {*/
/*    color: var(--gray-01) !important;*/
/*}*/

/*.ant-menu-submenu-vertical.ant-menu-submenu-selected > .ant-menu-submenu-title {*/
/*    !*background-color: var(--button-menu-active-2) !important;*!*/
/*    !*color: var(--button-primary-select) !important;*!*/
/*}*/