* {
    font-family: 'Roboto';
}

html, body, #root {
    overflow-x: hidden;
    margin: 0;
    height: auto;
}

html::-webkit-scrollbar {
    width: 8px; /* Ширина скроллбара */
    height: 8px; /* Высота скроллбара */
    z-index: 10;
}

html::-webkit-scrollbar-track {
    background: #CDD0D2; /* Цвет фона трека */
    /*border-radius: 4px; !* Скругление углов трека *!*/
}

html::-webkit-scrollbar-thumb {
    background-color: #4D4E65; /* Цвет ползунка */
    /*border-radius: 4px; !* Скругление углов ползунка *!*/
    /*border: 3px solid var(--gray-05); !* Обводка ползунка *!*/
}


a {
    all: unset;
    cursor: pointer;
}

:root {

}