.TableDevice_root{
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    height: 100%;
    width: 100%;
    }


.tableContainer{
    width: 100%;
}
.tablePlace {
    margin-top: 16px !important;
    width: 90%;
}

.toolBar {
    margin-top: 24px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid #CDD0D2;
    opacity: 1;

    background: #FFFFFF;
}



.leftSide, .centr, .rightSide {
    display: flex;
    align-items: center!important;
}

.rightSide{
    margin-bottom: 16px;
}

.leftSide {
    margin: 2px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.device_h1{
    width: 131px;
    height: 32px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #21201F;
    margin-top: 0;
}

.leftSide .button{
    margin-top: 0;
}

.count_h1{
    margin-top: 0;
}

.centr,
.rightSide {
    margin-left: 8px;
}

h1 {
    width: 50px;
    height: 24px;
    /*margin-left: 8px;*/
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.15px;
    color: #21201F;
}


.SwitchMap{  margin-left: 5px;
}

.ant-switch {
    background-color: #B5B7C0; /* Цвет по умолчанию */
}

.ant-switch:checked {
    background-color: #4D4E65; /* Цвет при включении */
}

.tablePlace {
    margin-top: 16px !important;
    width: 100%;
    }

.table{
    margin-left: 0!important;
    width: 100%;
}

.toolBar .leftSide .buttonMap{
    color: #21201F;
}

.Search_input_Table:hover {
    border-color: #AFBBC3;
}

.Search_input_Table::shadow{
    box-shadow: #4D4E6540;
}

.Search_input_Table:focus, .Search_input_Table:focus-within {
    border-color: #4D4E65; /* Цвет границы при фокусировке и при наличии фокуса внутри .input */
}
