.PlayerPlace{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}


.Control{
    width: 100%;
    opacity: 1; /* Пример установки непрозрачности */
    background-color: #4D4E65;
}