.PlayerPlace{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;

}

.Player {
    width: 100%;
    margin-top: 16px;
    opacity: 1; /* Пример установки непрозрачности */
    background-color: #FCE49C;
}

.Control{
    width: 100%;
    opacity: 1; /* Пример установки непрозрачности */
    background-color: #4D4E65;
}