.PlayerPlace{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}


.Control{
    width: 100%;
    background-color: #4D4E65;
}
.noVideo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #D3DADF;
}