.layouts{
    display: flex;
    flex-direction: column!important;
}

.body_layouts{
    display: flex;
    flex-direction: column!important;
}

.header_layouts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #CDD0D2;
}

