.ButtonRecordVideo {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 148px;
    height: 32px;
    padding: 0 15px; /* Removed right padding */
    border: 1px solid #4D4E65;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    color: #4D4E65;
    box-shadow:none;
}

.IconRecordVideo{
    margin-right: 8px;
}

.IconRecordAudio{
    margin-right: 8px;;
}


.ButtonRecordVideo:hover,
.ButtonRecordVideo:focus,
.ButtonRecordVideo:active{
    border: 1px solid #4D4E65!important;
    color: #4D4E65!important;
    box-shadow: none!important;
}
