.menu-container {

    display: flex;
    align-items: center;
}

.menu {

    width: 100vw;
    height: 64px;
    gap: 0;
    border: 0 0 1px 0;
    background: #4D4E65;
    margin-left: auto;
}


.logo {
    margin-right: auto; /* Это поместит логотип слева */
    background: #4D4E65;
    height: 64px;
    width: 138.96px;
}

.menu-item {
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    color: #FFFFFF !important;
    background-color: #4D4E65;
    
    height: 64px;
    opacity: 1;
    padding: 12px !important;
}


.menu-item:hover,
.menu-item:active {
    background-color: #FCE49C !important;
    color: #4D4E65 !important;
    display: none;
}

.ant-menu-overflow-item .ant-menu-item.menu-item {
    border-bottom: none !important;
}

.menu-item .icon-main-menu {
    fill: #FFFFFF;
    margin-right: 8px;
}

.menu-item:hover .icon-main-menu,
.menu-item:active .icon-main-menu {
    fill: #4D4E65;
}

.menu-item.ant-menu-item-selected {
    background-color: #FCE49C !important;
    color: #4D4E65 !important;

}
.menu-item.ant-menu-item-selected .icon-main-menu {
    fill: #4D4E65;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Стили для выпадающего меню */
.custom-user-menu {
    width: 200px;
    padding: 10px;
    background-color: #21201F1A; /* Ваш фон меню */
    border-radius: 8px; /* Сглаженные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Тень */
    color: #ffffff; /* Белый текст */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* Стили для текста внутри меню */
.custom-user-menu .user-name {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff; /* Белый цвет текста */
    text-align: center;
}

/* Стили для переключателя языка */
.custom-user-menu .language-switch {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Стили для кнопки выхода */
.custom-user-menu .logout-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.custom-user-menu .logout-section button {
    font-size: 14px;
    color: #ff4d4f; /* Красный цвет для кнопки выхода */
    background: none;
    border: none;
    cursor: pointer;
}

.custom-user-menu .logout-section button:hover {
    color: #ff7875; /* Светлее красный при наведении */
}

.menu-dropdown{
    cursor: pointer !important;
}

.menu-dropdown:hover{
    background-color: inherit !important;
}

.user-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
}

.user-initials {
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    color: #4D4E65;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.user-name {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 500;
}

/* Убираем выделение при наведении */
.user-button:hover,
.custom-user-menu:hover {
    /*background-color: transparent !important; !* Отменяем фон при наведении *!*/
    box-shadow: none !important; /* Отменяем тень при наведении */
    cursor: default; /* Если нужно убрать изменение курсора */
}

/* Если элемент имеет border при наведении, уберите его */
.user-button,
.custom-user-menu {
    border: none !important;
}

/* Убираем эффект нажатия (active) */
.user-button:active,
.custom-user-menu:active {
    background-color: transparent !important;
    box-shadow: none !important;
}

.microphone-button {
    background: #4D4E65;
    border: none;
    padding: 0;
    cursor: pointer;
}

.navigation_account {
    display: flex;
    align-items: center;
    gap: var(--sizeXS);

    .navigation_header-right-settings {
        display: flex;
        align-items: center;
        gap: var(--sizeXS);
        color: var(--gray-white);
        cursor: pointer;

        .navigation_header-right-avatar {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            line-height: 19px !important;
            /*background-color: var(--button-menu-select);*/
            display: flex;
            align-items: center;
            justify-content: center;
            /*color: var(--button-menu-text);*/
        }
    }
}

/*.ant-dropdown-menu-item-disabled {*/
/*    cursor: auto !important;*/
/*}*/

.status-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-block;
}

.status-dot.active {
    background-color: var(--alarm-acception);
}

.status-dot.inactive {
    background-color: red;
}

.dropdown-menu-item-settings {
    color: var(--gray-black);
    margin-bottom: 8px;
}

/*.dropdown-menu-overlay-settings .ant-dropdown-menu-item.dropdown-menu-item-settings--logout {*/
/*    width: 100%;*/
/*    background-color: var(--button-alarm-primary);*/
/*    padding: 6px 0 6px 12px !important;*/
/*    border-radius: 8px;*/
/*}*/

.dropdown-menu-item-settings--logout-btn {
    width: 184px;
    justify-content: start;
}

.dropdown-menu-overlay-settings .ant-dropdown-menu {
    /*background-color: var(--bg-background-light) !important;*/
    /*box-shadow: 0 0 8px 0 var(--base-shadow) !important;*/
}

.dropdown-menu-item-settings_logout-btn > span {
    margin-left: 8px;
}

.dropdown-menu-item-settings_logout-btn {
    color: #FFFFFF;
}

.ant-dropdown-menu-item-divider {
    background-color: var(--divider-2) !important;
    margin: 12px 0 !important;
    height: 2px !important;
}

.ant-dropdown-menu-title-content {
    flex: none !important;
}

.lang_switcher_btn.select-checker-light .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    /*background-color: var(--button-primary-select) !important;*/
    /*border-color: var(--button-primary-select) !important;*/
    color: var(--gray-white);
}

.lang_switcher_btn.select-checker-light .ant-radio-button-wrapper {
    /*background-color: var(--button-secondary) !important;*/
    /*border-color: var(--primary) !important;*/
    color: var(--gray-black);
}

.lang_switcher_btn.select-checker-light .ant-radio-button-wrapper::before {
    /*background-color: var(--button-primary-select) !important;*/
}

.dropdown-menu-overlay-settings .ant-dropdown-menu-item {
    padding: 0 !important;
}

.ant-dropdown-menu-item:hover {
    background-color: inherit !important;
}

.dropdown-menu-icon {
    fill: var(--button-alarm);
    width: 16px;
    height: 16px;
    bottom: 1px;
    position: relative;
}

.dropdown-menu-item-settings--logout-btn:hover > .dropdown-menu-icon{
    fill: var(--button-alarm-hover) !important;
}

.dropdown-menu-item-settings--logout-btn:active > .dropdown-menu-icon{
    fill: var(--button-alarm-select) !important;
}

    /*.ant-dropdown-menu-item-danger:hover .dropdown-menu-icon {*/
/*    fill: white;*/
/*}*/

.dropdown-menu-item-settings--lang-switcher {
    width: 96px;
}

.dropdown-menu-item-settings--info {
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    width: 184px;
    height: 24px;
}

.dropdown-menu-item-settings--info-icon {
    /*fill: var(--button-menu);*/
    width: var(--sizeL);
    height: var(--sizeL);
    position: relative;
    top: 1px;
    pointer-events: auto;
}

.dropdown-menu-item-settings--info {
    pointer-events: none;
}

.logout-section > .ant-btn{
    height: 40px !important;
}