/* Базовые классы */
.button-base {
    border-radius: var(--sizeXS);
    border: 1px solid inherit;
}

/*.button-base:hover {*/
/*    opacity: 0.9;*/
/*}*/

/*.button-base:active {*/
/*    opacity: 0.9;*/
/*}*/

/*.button-base:disabled {*/
/*    opacity: 0.5;*/
/*    cursor: not-allowed;*/
/*}*/

/* Классы для размеров кнопок */
.button-size-medium {
    height: var(--button-medium-size);
    padding: 6px 15px;
}

.button-size-large {
    height: var(--button-large-size);
    padding: 8px 15px;
    border-radius: var(--sizeS);
}

.button-size-small {
    height: var(--button-small-size);
    padding: 2px 7px;
    border-radius: var(--size2XS);

}

.button-size-small_icon {
    width: var(--button-small-size);
    height: var(--button-small-size);
    padding: 0;
}

.button-size-small_icon > svg {
    width: 12px;
    height: 12px;
}

.button-size-small_icon.button-type-primary > svg {
    fill: var(--button-primary-text);
}

.button-size-small_icon.button-type-secondary > svg {
    fill: var(--button-secondary-text);
}

.button-size-small_icon.button-type-dashed > svg {
    fill: var(--button-secondary-text);
}

.button-size-small_icon.button-type-primary.button-state-danger > svg {
    fill: var(--alarm-text);
}

.button-size-small_icon.button-type-secondary.button-state-danger > svg {
    fill: var(--button-alarm);
}

.button-size-small_icon.button-type-secondary.button-state-danger:hover > svg {
    fill: var(--button-alarm-hover);
}

.button-size-small_icon.button-type-secondary.button-state-danger:active > svg {
    fill: var(--button-alarm-select);
}

.button-size-small_icon.button-type-dashed.button-state-danger > svg {
    fill: var(--button-alarm);
}

.button-size-small_icon.button-type-dashed.button-state-danger:hover > svg {
    fill: var(--button-alarm-hover);
}

.button-size-small_icon.button-type-dashed.button-state-danger:active > svg {
    fill: var(--button-alarm-select);
}

.button-size-medium_icon {
    width: var(--button-medium-size);
    height: var(--button-medium-size);
    padding: 0;
}

.button-size-medium_icon > svg {
    width: 13px;
    height: 13px;
}

.button-size-medium_icon.button-type-primary > svg {
    fill: var(--button-primary-text);
}

.button-size-medium_icon.button-type-secondary > svg {
    fill: var(--button-secondary-text);
}

.button-size-medium_icon.button-type-dashed > svg {
    fill: var(--button-secondary-text);
}

.button-size-medium_icon.button-type-primary.button-state-danger > svg {
    fill: var(--alarm-text);
}

.button-size-medium_icon.button-type-secondary.button-state-danger > svg {
    fill: var(--button-alarm);
}

.button-size-medium_icon.button-type-secondary.button-state-danger:hover > svg {
    fill: var(--button-alarm-hover);
}

.button-size-medium_icon.button-type-secondary.button-state-danger:active > svg {
    fill: var(--button-alarm-select);
}

.button-size-medium_icon.button-type-dashed.button-state-danger > svg {
    fill: var(--button-alarm);
}

.button-size-medium_icon.button-type-dashed.button-state-danger:hover > svg {
    fill: var(--button-alarm-hover);
}

.button-size-medium_icon.button-type-dashed.button-state-danger:active > svg {
    fill: var(--button-alarm-select);
}

.button-size-large_icon {
    width: var(--button-large-size);
    height: var(--button-large-size);
    padding: 0;
}

.button-size-large_icon > svg {
    width: 20px;
    height: 20px;
}

.button-size-large_icon.button-type-primary > svg {
    fill: var(--button-primary-text);
}

.button-size-large_icon.button-type-secondary > svg {
    fill: var(--button-secondary-text);
}

.button-size-large_icon.button-type-dashed > svg {
    fill: var(--button-secondary-text);
}

.button-size-large_icon.button-type-primary.button-state-danger > svg {
    fill: var(--alarm-text);
}

.button-size-large_icon.button-type-secondary.button-state-danger > svg {
    fill: var(--button-alarm);
}

.button-size-large_icon.button-type-secondary.button-state-danger:hover > svg {
    fill: var(--button-alarm-hover);
}

.button-size-large_icon.button-type-secondary.button-state-danger:active > svg {
    fill: var(--button-alarm-select);
}

.button-size-large_icon.button-type-dashed.button-state-danger > svg {
    fill: var(--button-alarm);
}

.button-size-large_icon.button-type-dashed.button-state-danger:hover > svg {
    fill: var(--button-alarm-hover);
}

.button-size-large_icon.button-type-dashed.button-state-danger:active > svg {
    fill: var(--button-alarm-select);
}


/* Классы для типов кнопок */
.button-type-primary {
    background-color: var(--primary) !important;
    color: var(--button-primary-text) !important;
    /*border: none !important;*/
}

.button-type-primary:hover {
    background-color: var(--button-primary-hover) !important;
    border-color: var(--button-primary-hover) !important;
}

.button-type-primary:active {
    background-color: var(--button-primary-select) !important;
    border-color: var(--button-primary-select) !important;
}

.button-type-primary:disabled {
    color: var(--button-disable-text) !important;
    background-color: var(--button-disable) !important;
    border-color: var(--button-disable) !important;
}

.button-type-secondary {
    background-color: var(--button-secondary) !important;
    color: var(--button-secondary-text) !important;
    /*border: none !important;*/
}

.button-type-secondary:hover {
    background-color: var(--gray-white) !important;
    border-color: var(--button-secondary-hover) !important;
}

.button-type-secondary:active {
    background-color: var(--gray-white) !important;
    border-color: var(--button-secondary-select) !important;
}

.button-type-secondary:disabled {
    color: var(--button-disable-text) !important;
    background-color: var(--button-disable) !important;
    border-color: var(--button-disable) !important;
}

.button-type-text {
    background-color: var(--button-secondary) !important;
    color: var(--button-secondary-text) !important;
    border: none !important;
}

.button-type-text:hover {
    background-color: var(--primary-shadow-2) !important;
    /*border-color: var(--button-secondary-hover) !important;*/
}

.button-type-text:active {
    background-color: var(--primary-shadow-1) !important;
    /*border-color: var(--button-alarm-select) !important;*/
}

.button-type-text:disabled {
    color: var(--button-disable-text) !important;
    background-color: var(--button-disable) !important;
    border-color: var(--button-disable) !important;
}

.button-type-dashed {
    background-color: var(--button-secondary) !important;
    color: var(--button-secondary-text) !important;
    border: 1px dashed var(--button-secondary-text) !important;
}

.button-type-dashed:hover {
    /*color: var(--button-secondary-text);*/
    border-color: var(--button-secondary-hover) !important;
}

.button-type-dashed:active {
    /*color: var(--button-secondary-text);*/
    background-color: var(--button-secondary-select) !important;
    border: 2px dashed var(--button-secondary-text) !important;
}

.button-type-dashed:disabled {
    color: var(--button-disable-text);
    background-color: var(--button-disable);
    border-color: var(--button-disable);
}

/* Классы для danger состояний кнопок */
.button-type-primary.button-state-danger {
    background-color: var(--button-alarm) !important;
    color: var(--alarm-text) !important;
    border: none
}

.button-type-primary.button-state-danger:hover {
    background-color: var(--button-alarm-hover) !important;
    border: none;
}

.button-type-primary.button-state-danger:active {
    background-color: var(--button-alarm-select) !important;
    border: none;
}

.button-type-primary.button-state-danger:disabled {
    color: var(--button-disable-text) !important;
    background-color: var(--button-disable) !important;
    border-color: var(--button-disable) !important;
}

.button-type-secondary.button-state-danger {
    background-color: var(--gray-white) !important;
    color: var(--button-alarm) !important;
    border-color: var(--button-alarm) !important;
}

.button-type-secondary.button-state-danger:hover {
    background-color: var(--gray-white) !important;
    color: var(--button-alarm-hover) !important;
    border-color: var(--button-alarm-hover) !important;
}

.button-type-secondary.button-state-danger:active {
    background-color: var(--gray-white) !important;
    color: var(--button-alarm-select) !important;
    border-color: var(--button-alarm-hover) !important;
}

.button-type-secondary.button-state-danger:disabled {
    color: var(--button-disable-text) !important;
    background-color: var(--button-disable) !important;
    border-color: var(--button-disable) !important;
}

.button-type-text.button-state-danger {
    background-color: var(--gray-white) !important;
    color: var(--button-alarm) !important;
    /*border-color: var(--button-alarm) !important;*/
}

.button-type-text.button-state-danger:hover {
    background-color: var(--alarm-select-2) !important;
    color: var(--button-alarm-hover) !important;
    /*border-color: var(--button-alarm-hover) !important;*/
}

.button-type-text.button-state-danger:active {
    background-color: var(--alarm-select-1) !important;
    color: var(--button-alarm-select) !important;
    /*border-color: var(--button-alarm-hover) !important;*/
}

.button-type-text.button-state-danger:disabled {
    color: var(--button-disable-text) !important;
    background-color: var(--button-disable) !important;
    border-color: var(--button-disable) !important;
}

.button-type-dashed.button-state-danger {
    background-color: var(--gray-white) !important;
    color: var(--button-alarm) !important;
    border: 1px dashed var(--button-alarm) !important;
}

.button-type-dashed.button-state-danger:hover {
    background-color: var(--gray-white)  !important;
    color: var(--button-alarm-hover) !important;
    border: 2px dashed var(--button-alarm-hover) !important;
}

.button-type-dashed.button-state-danger:active {
    background-color: var(--gray-white)  !important;
    color: var(--button-alarm-select) !important;
    border: 2px dashed var(--button-alarm-select) !important;
}

.button-type-dashed.button-state-danger:disabled {
    color: var(--button-disable-text) !important;
    background-color: var(--button-disable) !important;
    border-color: var(--button-disable) !important;
}

.button-type-text{
    border: none;
}

.ant-badge-dot {
    top: 3px;
    right: 2px;
}