.nameDeviceLayout{
    height: 44px;
    display: flex;
    align-items: center;
}

.propertiesDeviceLayout{
    border-radius: 0 0 12px 12px !important;
}

.iconDeviceLayout{
    height: 14px;
    margin-right: 13px;
    margin-left: 13px;
}

.deviceName_Layout.title.large{
    color: white;
}

.containerDeviceLayout{
    cursor: pointer;
}

.image.imageBig{
    border-radius: 12px 12px 0 0 !important;
}