.main-container {
    width: 100vw;
    height: 64px; /* Фиксированная высота */
    gap: 0; /* Отсутствие зазоров между элементами */
    opacity: 1; /* Полная непрозрачность */
}

.container {
    display: flex;
    flex-direction: row !important; /* Горизонтальное расположение элементов */
}

.menu {
    width: 100%; /* Заполнение ширины родительского контейнера */
    height: 100%; /* Заполнение высоты родительского контейнера */
    gap: 0; /* Отсутствие зазоров между элементами */
    opacity: 1; /* Полная непрозрачность */
    background: #4D4E65;
}

.table{
    width: 100%; /* Заполнение ширины родительского контейнера */
    height: 100%; /* Заполнение высоты родительского контейнера */
    margin-right: 20px;
    margin-left: 20px;
}
.LeftPart .upLeftPart{
    height: 100vh;
}
