.main-container {

}

.container {
    display: flex;
    flex-direction: row !important; /* Горизонтальное расположение элементов */
    height: 100%;
}

.leftPart{
    height: 100%;
}

.menu {
    width: 100%; /* Заполнение ширины родительского контейнера */
    height: 100%; /* Заполнение высоты родительского контейнера */
    gap: 0; /* Отсутствие зазоров между элементами */
    opacity: 1; /* Полная непрозрачность */
    background: #4D4E65;
}

.table{
    width: 100%; /* Заполнение ширины родительского контейнера */
    height: 100%; /* Заполнение высоты родительского контейнера */
    margin: 0!important;
    padding-left: 24px;
    padding-right: 24px;
}