.LeftPartSideMenu{
    background-color: #F1F1F1;
    width: 264px;;
}

.buttonMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-top: 0;
    border-bottom: 1px solid #CDD0D2;
    margin-left: 12px;
    margin-right: 12px;
}

.bm_1{
    display: flex;
    flex-direction: row;
}
.bm_2{
    display: flex;
    flex-direction: row;
}

.group_h1{
    width: 82px;
    height: 32px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #21201F;
    margin-top: 0;
}

.count_h1{
    display: flex;
    justify-content: center;
    width: 43px;
    height: 32px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #999C9E;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0;
}

.Search{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.Search_input {
    width: auto;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 12px;
}

.Search_input:hover {
    border-color: #AFBBC3;
}

.Search_input::shadow{
    box-shadow: #4D4E6540;
}

.Search_input:focus, .Search_input:focus-within {
    border-color: #4D4E65; /* Цвет границы при фокусировке и при наличии фокуса внутри .input */
}.Search_input:hover {
     border-color: #AFBBC3;
 }

.Search_input::shadow{
    box-shadow: #4D4E6540;
}

.Search_input:focus, .Search_input:focus-within {
    border-color: #4D4E65; /* Цвет границы при фокусировке и при наличии фокуса внутри .input */
}

.LeftMenu {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    color: #4D4E65 !important;
    background-color: #F1F1F1;
    height: 100vh!important;
}
.LeftMenu .ant-menu-item {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    color: #4D4E65;
}

.LeftMenu .ant-menu-item:hover, .LeftMenu .ant-menu-item-active, .LeftMenu .ant-menu-item-selected {
    background-color: #F1F1F1;
    color: #3E405F;
}


























