/* style.css */
.allDeviceBig {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
}

.containerCardBig {
    margin-bottom: 16px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.coverBig {
    width: 100%;
}

.propertiesBig {
    padding: 16px;
    transition: width 0.3s ease;
}

.propertiesBig h1 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.propertiesBig .propertyGroupBig {
    margin-top: 12px;
}

.propertiesBig .propertyBig {
    font-size: 14px;
    margin: 0;
    padding: 0;
}


@media (max-width: 3470px) {
    .allDevice .ant-col {
        flex: 0 0 10%;
        max-width: 10%;
    }
}

@media (max-width: 2470px) {
    .allDevice .ant-col {
        flex: 0 0 25%;
        max-width: 25%;
    }
}


@media (max-width: 1920px) {
    .allDevice .ant-col {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media (max-width: 1745px) {
    .allDevice .ant-col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 1080px) {
    .allDevice .ant-col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
