.headline {
    /*&.xl4 {*/
    /*    font-weight: 600;*/
    /*    font-size: 96px;*/
    /*    line-height: 108px;*/
    /*    letter-spacing: -0.25px;*/
    /*}*/

    &.xl3 {
        font-weight: 400;
        font-size: 57px;
        line-height: 64px;
        letter-spacing: -0.25px;
    }

    &.xl2 {
        font-weight: 400;
        font-size: 45px;
        line-height: 52px;
    }

    &.xl {
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
    }

    &.large {
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
    }

    &.medium {
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
    }

    &.small {
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
    }
}

.title {
    &.large {
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
    }

    &.medium {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
    }

    &.small {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
    }
}

.body {
    &.large {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }

    &.large-bold {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }

    &.large-underline {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-decoration: underline;
    }

    &.medium {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
    }

    &.medium-bold {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
    }

    &.medium-underline {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        text-decoration: underline;
    }

    &.small {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.4px;
    }
}

.caption {
    &.large {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
    }

    &.medium {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.5px;
    }

    &.small {
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.5px;
    }
}