.SM_container{
    width: 264px;
position: fixed;
}

.SM_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-top: 0;
    border-bottom: 1px solid #CDD0D2;
    margin-left: 12px;
    margin-right: 12px;
}

.SM_bm_1{
    display: flex;
    flex-direction: row;
}

.SM_group_h1{
    width: 82px;
    height: 32px;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #21201F;
    margin-top: 0;
}

.SM_count_h1{
    display: flex;
    justify-content: center;
    width: 43px;
    height: 32px;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #999C9E;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0;
}

.SM_bm_2{
    display: flex;
    flex-direction: row;
}

.SM_Search{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.SM_Search_input {
    width: auto;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 12px;
}
.SM_Search_input:focus, .SM_Search_input:focus-within {
    border-color: #4D4E65; /* Цвет границы при фокусировке и при наличии фокуса внутри .input */
}

.SM_Search_input:hover {
    border-color: #AFBBC3;
}

.SM_Search_input::shadow{
    box-shadow: #4D4E6540;
}


.SM_menu{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    color: #4D4E65 !important;
    background: #F1F1F1 ;
}

.SM_menu .ant-menu-submenu-title{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    margin: 0;
    width: 100%;


}

.SM_menu .ant-menu-submenu-title:hover{
    width: 100%;
    margin: 0;

}