.containerCardFile{
    display:flex;
    justify-content: start;
    flex-direction: row;
    width: 100%;
    height: 116px;
    margin-bottom: 12px;
    border: #666666 2px;
}

.coverFile{
    display:flex;
    justify-content: flex-start;
    width: 206px;
    height: 116px;
}

.imgPreview{
    width: 206px;
    height: 116px;
    border-radius: 0!important;
}
.urgentSet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.coverCardFile{
    width: 206px;
    height: 100%;
    border-radius: 0!important;
}

.propertyGroupFile{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.propertyFile{
    margin-bottom: 4px;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;

    color: #575655;
    cursor: default;
    margin-top: 0;
}
.button{
    margin-bottom: 16px;
}

.propertiesFile{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    width:274px;
    height: 100%;
    margin-left: 0;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #F1F1F1;
}

.nameFile{
    width: 100%;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 15px;
    margin-bottom: 12px;
    color: #21201F;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: left;

    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}


.fileCheckbox{
    margin-right: 8px!important;
}

