.notification > .ant-notification-notice-content > .ant-notification-notice-with-icon > .ant-notification-notice-message, .ant-notification-notice-description {
    margin-inline-start: 58px !important;
    z-index: 1000;
}

/*.ant-notification-notice-wrapper {*/
/*    box-shadow: 0 0 0 1000px var(--notification-bg-color, transparent) inset;*/
/*}*/

.ant-notification-notice.notification.error {
    background-color: var(--alarm);
    border-radius: var(--sizeXS);
    /*--notification-bg-color: var(--alarm);*/
}

.ant-notification-notice.notification {
    background-color: var(--alarm-acception);
    border-radius: var(--sizeXS);
    /*--notification-bg-color: var(--alarm-acception);*/
}

.ant-notification-notice-message,
.ant-notification-notice-description,
.anticon-close.ant-notification-notice-close-icon > svg {
    color: #FFFFFF !important;
    fill: #FFFFFF;
}

.ant-notification-notice-description {
    margin-inline-start: 0 !important;
}