@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.page {
    background-image: url('../img/BackGround.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота 100% видимой области (viewport height) */
    overflow: hidden; /* Избавляется от скроллинга */
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basic{
    margin-top:32px
}

.cart {
    display: flex;
    flex-direction: column;


    width: 480px; /* Ширина 80% видимой области */
    height: 468px; /* Высота 90% видимой области */
  /*  padding: 6vh 9.6vw; !* Отступы в процентах от высоты и ширины .cart *!*/
    border-radius: 16px;

    background-color: white;
    justify-content: start; /* Распределяет свободное пространство */
    overflow: hidden; /* Избавляется от скроллинга */
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between!important;
    margin: 48px;
}

.loginInput{
    font-family: 'Roboto', sans-serif;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 316px
}

.inputLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    width: 144px;
    margin-top: 24px;
}

.input {
    width: 384px!important;

}
.input:hover {
    border-color: #AFBBC3;
}

.input::shadow{
    box-shadow: #4D4E6540;
}

.input:focus, .input:focus-within {
    border-color: #4D4E65; /* Цвет границы при фокусировке и при наличии фокуса внутри .input */
}



.logo {
    display: flex;
    width: 222.65px;
    height: 72px;
    align-items: center;

}

.label {
    width: 81px;
    height: 44px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    text-align: center!important;
    margin-bottom: 0;
}

.ButtonLogIn {
    width: 384px;
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: center;
    background-color: #4D4E65;
    color: white;
    transition: background-color 0.3s ease;
    margin-top: 24px;
}

.ButtonLogIn:hover {
    background-color: #58596F !important;
}


.h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-align: center;

    color: #FFFFFF;
    margin-top: 8px;
}


.RadioGroup{
    display: flex;
    flex-direction: row!important;
}

.RadioGroupButton{
    width: 42px!important;
}