.containerCard{
    display:flex;
    justify-content: center;
    flex-direction: row;
    width: 800px;
    height: 90px;
    margin: 10px;

}

.cover{
    display:flex;
    justify-content: center;
    width: 116px;
    height: 90px;
}

.coverCard{
    width: 116px;
    height: 90px;
}

.properties{
    display:flex;
    justify-content: center;
    flex-direction: row;
    width: 650px;
    height: 90px;
}

.propertiesPart1{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width:325px;
    height:90px;
    margin-left: 17px;

}

.propertiesPart2{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width:325px;
    height:90px;
    margin-left: 17px;
   }

.property {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 323px;
    height: 24px;
    border: 1px solid #ccc;
    margin: 2px;
}


