.description_cont{
    display: flex;
    flex-direction: column;
}
.desc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    align-content: space-between;
    width: 100%;
    margin-top: 16px;
}

.form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
}

.formGroupLeft {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.formGroupRight {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 0;
}


.input{
    width: 100%;
}

.inputLabel  {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: left;
    color: #21201F;
}

/*Footer*/

.description_footer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 24px;
}

.ButtonDeviceAddToLayout{
    margin-right: 12px;
    margin-left: 12px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    background: #4D4E65;
    color: #FFFFFF;
    border: 0;

}
.ButtonDeviceDelete{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    color: #FFFFFF;
    background: #DE7171;
    border: 0;

}
.ButtonDeviceSave{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    background: #4D4E65;
    color: #FFFFFF;
    border: 0;
}

.ButtonDeviceDelete:hover,
.ButtonDeviceDelete:focus,
.ButtonDeviceDelete:active
{
    background: #DE7171!important;
    color: #FFFFFF!important;
    border: none!important;
    box-shadow: none!important;
}
.ButtonDeviceSave:hover,
.ButtonDeviceSave:focus,
.ButtonDeviceSave:active,
.ButtonDeviceAddToLayout:hover,
.ButtonDeviceAddToLayout:focus,
.ButtonDeviceAddToLayout:active

{
    background: #4D4E65!important;
    color: #FFFFFF!important;
    border: none!important;
    box-shadow: none!important;
}
.ant-form-item-required::before{
    display: none!important;
}