.containerDeviceOne{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0!important;
}

.DeviceOne {
    display: flex;
    flex: 1;
    margin: 24px 24px;
}
.leftSideDeviceOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 16px;
    padding: 0 !important;
    flex-grow: 1; /* Allow left side to grow */
}

.rightSideDeviceOne{
    width: 480px; /* Fixed width */
    display: flex;
    flex-direction: column;
    justify-content: start;

    margin-left: 0;
    padding: 0 !important;
}

.rightSideDeviceOne .FileTable{

}
.rightSideDeviceOne .MenuRs{

}
