
.modalSettingGroup .ant-drawer-header{
    background: #E8EBED;
    border:0;
}
.modalSettingGroup .ant-drawer-footer{

    border:0;
}


.modalSettingGroup .ant-modal{
    height: 100vh;
}
button.ant-modal-close {
    position: fixed;
    left: 20px; /* Установите отступ слева */
    color: black; /* Измените цвет кнопки по вашему желанию */
}

.titleModalSetting{
    width: 100%;
    height: 32px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #21201F;
}

.ant-modal-title{
    background: #E8EBED;
    height: 64px;
    display: flex;
    justify-content: center;

}

.closeBut{
    margin-right: 16px;
}

.ant-modal-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0!important;
    height: auto;
    padding-top: 8px!important;
    padding-bottom: 12px!important;
}


/* Применение стилей к компоненту */
.buttonModalSetting {
    width: 103px; /* ширина элемента */
    height: 32px; /* высота элемента */
    padding: 12px; /* внутренние отступы */
    gap: 8px; /* расстояние между элементами внутри */
    border-radius: 4px; /* радиус скругления углов */
    border: 1px solid #000; /* граница */
    opacity: 1; /* Прозрачность элемента */
    background-color: #4D4E65;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.25px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.buttonModalSetting:hover,
.buttonModalSetting:focus,
.buttonModalSetting:active{
    background-color: #4D4E65!important;
    color: #FFFFFF!important;
    border: none!important;
    box-shadow: none!important;
}

.menuSetting{
    background: #FFFFFF;
    margin: 24px 24px;
    height: 80vh;
}

.SettingGroupMenu.ant-menu-item{
    background: #FFFFFF;
   }

.SettingGroupMenu .ant-menu-submenu-title {
    background: #FFFFFF;
    width: 100%;
}

/* Ensure the top-level menu items (groups) have no left padding */
.SettingGroupMenu > .ant-menu-item,
.SettingGroupMenu > .ant-menu-submenu > .ant-menu-submenu-title {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Ensure the submenu items (subgroups) have 24px left padding */
.SettingGroupMenu .ant-menu-sub.ant-menu-inline > .ant-menu-item,
.SettingGroupMenu .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    padding-left: 24px !important;
    padding-right: 0;

}


.SettingGroupMenu .ant-menu-submenu-title:hover{
    padding-right: 8px!important;
    border-radius: 0;
}

.menu-item-content {

    position: relative;
    padding: 4px 12px;

   }

.menu-item-buttons {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


.menu-item-content:hover .menu-item-buttons {
    display: flex;
}

.menu-item-buttons .ant-btn {
    margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.editGroup {
    display: flex;
    align-items: end;
    width: 100%!important;
}

.input_EG {
    flex-grow: 1!important;
    
}

.button_EG {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #4D4E65;
    width: 32px;
    height: 32px;
    padding-left: 7px;
    padding-right: 7px;
}

 .button_EG .ant-btn{
    width: 32px!important;
    height: 32px!important;
}

.input_EG:hover {
    border-color: #AFBBC3;
}

.input_EG::shadow{
    box-shadow: #4D4E6540;
}

.input_EG:focus, .input_EG:focus-within {
    border-color: #4D4E65; /* Цвет границы при фокусировке и при наличии фокуса внутри .input */
}