
.modalSettingGroup {
    position: fixed;
    top: 0;
    right: -400px; /* Скрыть модальное окно за правой границей */
    margin: 0;
    transition: right 0.3s ease; /* Анимация смещения */
    z-index: 1000;
    height: 70vh;
}


.modalSettingGroup .ant-modal{
    height: 100vh;
}
button.ant-modal-close {
    position: fixed;
    left: 20px; /* Установите отступ слева */
    color: black; /* Измените цвет кнопки по вашему желанию */
}

.titleModalSetting{
    width: 100%;
    height: 32px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #21201F;
}

.ant-modal-title{
    background: #E8EBED;
    height: 64px;
    display: flex;
    justify-content: center;

}

.closeBut{
    margin-right: 16px;
}

.ant-modal-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0!important;
    height: auto;
    padding-top: 8px!important;
    padding-bottom: 12px!important;
}


/* Применение стилей к компоненту */
.buttonModalSetting {
    width: 103px; /* ширина элемента */
    height: 32px; /* высота элемента */
    padding: 12px; /* внутренние отступы */
    gap: 8px; /* расстояние между элементами внутри */
    border-radius: 4px; /* радиус скругления углов */
    border: 1px solid #000; /* граница */
    opacity: 1; /* Прозрачность элемента */
    background-color: #4D4E65;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.25px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.buttonModalSetting:hover,
.buttonModalSetting:focus,
.buttonModalSetting:active{
    background-color: #4D4E65!important;
    color: #FFFFFF!important;
    border: none!important;
    box-shadow: none!important;
}

.menuSetting{
    background: #FFFFFF;
    margin: 24px 24px;
    height: 80vh;
}

.SettingGroupMenu{

    width: 100%;
}

.SettingGroupMenu .ant-menu-submenu{
    width: 370px;

}


.ant-menu-submenu-arrow{
    display: none;
}

.editGroup{
    display: flex;
    flex-direction: row;
    width: 100%;
}
 .button_EG .ant-btn{
    width: 32px!important;
    height: 32px!important;
}

 .input_EG{
     width: 100%;
 }

.input_EG:hover {
    border-color: #AFBBC3;
}

.input_EG::shadow{
    box-shadow: #4D4E6540;
}

.input_EG:focus, .input_EG:focus-within {
    border-color: #4D4E65; /* Цвет границы при фокусировке и при наличии фокуса внутри .input */
}